<br><br><br>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header bg-dark">
				<h3>Ingresar</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="bi bi-facebook"></i></span>
					<span><i class="bi bi-twitter"></i></span>
					<span><i class="bi bi-envelope-fill"></i></span>
				</div>
			</div>
			<div class="card-body bg-dark">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="bi bi-person-bounding-box"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Usuario">
						
					</div>
                    <br>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="bi bi-shield-lock-fill"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="Contraseña">
					</div>
                    <br>
					<div class="row align-items-center remember">
						<input type="checkbox">Recuerdame
					</div>
                    <br>
					<div class="form-group">
						<input type="submit" value="Ingresar" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer bg-dark">
				<div class="d-flex justify-content-center links">
					¿No tienes una cuenta?<a href="/register">Inscribirse</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">¿Olvidaste tu contraseña?</a>
				</div>
			</div>
		</div>
	</div>
</div>

<br>

<br>
