<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top register" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="assets/imagen/STTNTB S.R.L..jpg"  alt="alternative" width="70" height="70" class="d-inline-block align-text-top bd-placeholder-img rounded-circle">
    
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto navbar-nav-scroll">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/services">SERVICIOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/contact">CONTACTO</a>
        </li>
      </ul>
    </div>
    <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-dark" type="button" (click)="open('/login')">INGRESAR</button>
      <button class="btn btn-dark" type="button" (click)="open('/register')">REGISTRO</button>
    </div>
  </div>
</nav> 