<!-- tiulo destino local -->
<br>
<div class="basic-10">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 ">
              <h3 class="h2-heading text-center bg-dark text-white " style="font-style: italic;"> Destinos Locales</h3>
              <hr class="hr-heading">
          </div> 
  </div>
</div>



<!-- destinos locales -->

<main>
  <div class="container">
    <div class="card-group">
      <div class="card">
        <img src="/assets/imagen/24.jpeg" class="card-img-top" width="100%" height="250px">
        <div class="card-body">
          <h5 class="card-title text-center">Represa Corani e Incachaca</h5>
          <p class="card-text text-center">Es considerado como un centro turistico arqueologico natural ubicado en el minicipio de Colomi</p>
          <p class="card-text text-center"><small class="text-muted">1 Hora aproximadamente de viaje</small></p>
        </div>
      </div>
      <div class="card">
        <img src="/assets/imagen/21.jpeg" class="card-img-top" width="100%" height="250px">
        <div class="card-body">
          <h5 class="card-title text-center">Castillo PucaHuasi</h5>
          <p class="card-text text-center">Considerado como un centro turistutico arquitectonico rustico ubicicado en el municicpio de Arani</p>
          <p class="card-text text-center"><small class="text-muted">1 Hora aproximadamente de viaje</small></p>
        </div>
      </div>
      <div class="card">
        <img src="/assets/imagen/11.jpeg" class="card-img-top" width="100%" height="250px">
        <div class="card-body">
          <h5 class="card-title text-center">Villa Albina</h5>
          <p class="card-text text-center">Centro Cultural turistico colonial parte de las grandes artiquecturas del centro Simon I. Patiño ubicado en el municipio de Quillacollo</p>
          <p class="card-text text-center"><small class="text-muted">1 Hora aproximadamente de viaje</small></p>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- tiulo destino Nacional -->
<br>
<div class="basic-10">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 ">
              <h3 class="h2-heading text-center bg-dark text-white " style="font-style: italic;"> Destinos Nacionales</h3>
              <hr class="hr-heading">
          </div> 
  </div>
</div>

<!-- destinos nacionales -->

<main>
  <div class="container">
    <div class="card-group">
      <div class="card">
        <img src="/assets/imagen/sander-lenaerts-kHVrBPlWJgw-unsplash.jpg" class="card-img-top" width="100%" height="250px">
        <div class="card-body">
          <h5 class="card-title text-center">Salar de Uyuni</h5>
          <p class="card-text text-center">Es considerado uno de los lugares turisticos mas reconditos ubicado en el departamento de Oruro</p>
          <p class="card-text text-center"><small class="text-muted">6 Hora aproximadamente de viaje</small></p>
        </div>
      </div>
      <div class="card">
        <img src="/assets/imagen/12.jpeg" class="card-img-top" width="100%" height="250px">
        <div class="card-body">
          <h5 class="card-title text-center">Ciudad de Sucre</h5>
          <p class="card-text text-center">Considerado como uno de los centros historicos que resguarda gran parte de la historia nacional de Bolivia Ubicado en el departamento de Chuquisaca</p>
          <p class="card-text text-center"><small class="text-muted">8 Hora aproximadamente de viaje</small></p>
        </div>
      </div>
      <div class="card">
        <img src="/assets/imagen/Valle-Tarija-e1599705664609.jpg" class="card-img-top" width="100%" height="250px">
        <div class="card-body">
          <h5 class="card-title text-center">Ciudad de Tarija</h5>
          <p class="card-text text-center">Considerado como una ruta turistica mas artesanal y colosal por su variedad de viñedos y ciudad alegre ubicado en el departamento de Tarija</p>
          <p class="card-text text-center"><small class="text-muted">18 Hora aproximadamente de viaje</small></p>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- tiulo destino Internacional -->
<br>
<div class="basic-10">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 ">
              <h3 class="h2-heading text-center bg-dark text-white " style="font-style: italic;"> Destinos Internacionales</h3>
              <hr class="hr-heading">
          </div> 
  </div>
</div>
<!-- destinos internacionales -->
<main>
  <div class="container">
    <div class="card-group">
      <div class="card">
        <img src="/assets/imagen/cusco-peru.jpg" class="card-img-top" width="100%" height="250px">
        <div class="card-body">
          <h5 class="card-title text-center">Ciudad de Cuzco</h5>
          <p class="card-text text-center">Es considerado uno de los centros turisticos incaicos mas visitados a nivel internacional por su extravagante arquitectura ubicado en el pais de Peru</p>
          <p class="card-text text-center"><small class="text-muted">22 Hora aproximadamente de viaje</small></p>
        </div>
      </div>
      <div class="card">
        <img src="/assets/imagen/Iquique.jpg" class="card-img-top" width="100%" height="250px">
        <div class="card-body">
          <h5 class="card-title text-center">Ciudad de Iquique</h5>
          <p class="card-text text-center">Considerado como uno de los centros turisticos mas visitados por su playa natural mas extensa y sus variedad de paseos y centro comercial ubicacion el el pais de Chile</p>
          <p class="card-text text-center"><small class="text-muted">22 Hora aproximadamente de viaje</small></p>
        </div>
      </div>
      <div class="card">
        <img src="/assets/imagen/iguazu.jpg" class="card-img-top" width="100%" height="250px">
        <div class="card-body">
          <h5 class="card-title text-center">Cataratas de Iguazu</h5>
          <p class="card-text text-center">Considerado como una forma unánime de formacion de cascadas representado un oceano cayendo a raudales ubicado entre el pais de Argentina y Brasil</p>
          <p class="card-text text-center"><small class="text-muted">1 Hora aproximadamente de viaje</small></p>
        </div>
      </div>
    </div>
  </div>
</main>