<footer class="bg-light text-center text-dark"> 
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Referencia</h3>
            <p>
              Av. Villazon Km 9 Huayllani <br>
              Sacaba<br>
              Cochabamba - Bolivia <br><br>
              <strong>Celular:</strong> +591- 77427743<br>
              <strong>Email:</strong> sttnicoletoursbolivia@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services">Servicios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contactos</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Transporte Turismo</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Transporte Delegaciones</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Transporte Universidades</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Transporte Colegios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Transporte Instituciones</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Suscribase a nuestra Pagina</h4>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Suscribirse">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4 bg-dark">
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright text-white ">
          © Copyright <strong ><span class="text-white ">STTNTB S.R.L.</span></strong>. Todos los Derechos Reservados
        </div>
        <div class="credits text-white ">
          <p class="text-white ">Siguenos en nuestras redes sociales</p>
        </div>
      </div>
      <div >
        <button class="btn btn-dark"><i class="bi bi-facebook"></i></button>
        <button class="btn btn-dark"><i class="bi bi-twitter"></i></button>
        <button class="btn btn-dark"><i class="bi bi-whatsapp"></i></button>
        <button class="btn btn-dark"><i class="bi bi-telegram"></i></button>
        <button class="btn btn-dark"><i class="bi bi-telephone"></i></button>
        <button class="btn btn-dark"><i class="bi bi-envelope-fill"></i></button>
      </div>
    </div>
    <br>
  </footer>
