<h1 style="text-align: center;">LISTA DE USUARIOS</h1>
<!-- 
<table>
  <tr>
    <th *ngFor="let column of headers">
      {{column}}
    </th>
  </tr>
  <tr *ngFor="let row of rows">
    <td >
      {{row.id}}
    </td>
    <td >
      {{row.login}}
    </td>
    <td >
      {{row.url}}
    </td>
  </tr>
</table> -->

<div class="container">
  <div class="row">
    <div class="col-ms-6" >
      <div class="card mb-10 margen" style="max-width: 500px;" *ngFor="let row of rows">
        <h5 class="card-header " style="text-align: center;"> <strong> End Points User</strong></h5>
        <div class="card-header bg-dark text-white">{{row.id}}</div>
        <div class="card-body">
          <h5 class="card-title">{{row.login}}</h5>
          <p class="card-text">{{row.url}}</p>
          <a href="#" style="text-align: center;" class="btn btn-primary ">Solicitar Datos</a>
        </div>
      </div>
  </div>
  </div>
</div> <!-- fin container -->


