
    <div class="ex-form-1 pt-5 pb-5">
        <div class="container">
            <div class="col-xl-10 offset-xl-1">
                <!-- Contacto Formulario -->
                <h3 style="text-align: center;">Registrese</h3>
                <form class="mt-5">
                    <div class="form-group">
                        <label class="label-control" for="cname"> <strong>Nombres</strong></label>
                        <input type="text" class="form-control bg-light" id="uname" placeholder="Ingrese Nombre" name="uname" required>
                    </div>
                    <div class="form-group">
                        <label class="label-control" for="cname"> <strong>Apellidos</strong></label>
                        <input type="text" class="form-control bg-light" id="uname" placeholder="Ingrese Apellidos" name="uname" required>
                    </div>
                    <div class="form-group">
                        <label class="label-control" for="cname"> <strong>Email</strong> </label>
                        <input type="text" class="form-control bg-light" id="uname" placeholder="Ingrese Email" name="uname" required>
                    </div>
                    <div class="form-group">
                        <label class="label-control" for="cname"> <strong>Telefono</strong> </label>
                        <input type="text" class="form-control bg-light" id="uname" placeholder="Ingrese Email" name="uname" required>
                    </div>
                    <div class="form-group ex-form-1 pt-1" >
                        <button type="submit" class="btn btn-dark">REGISTRAR</button>
                    </div>
                </form>
            </div>
        </div>  
    </div>